#body .footer {
	&__content {
		height: 300px;
		background-image: url(../src/images/header_brand.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	&__visual {
		display: none;
	}

	&__hours {
		span {
			color: #E1B168;
		}
	}

	&__form {
		max-width: 650px;
	}

	form {
		input {
			height: 70px;
			background-color: rgba(41, 46, 54, 0.95);
			color: #ffffff;
			font-size: 22px;
			line-height: 33px;
			letter-spacing: 0.2px;
			border-radius: 0;
			border-color: #858585;
		}

		input::placeholder {
			color: #ffffff !important;
		}
	}

	#footer__submit {
		height: 70px;
		max-width: 240px;
		width: 100%;
		color: #292E36;
		background-color: #ffffff;
		border-color: #858585;
		box-shadow: inset 0 0 0 0 #ffffff;
		transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
	}

	#footer__submit:hover {
		color: #ffffff;
		box-shadow: inset 100vw 0 0 0 #E1B168;
	}

	a {
		color: #E1B168;
		transition: color .3s ease-in-out;
		text-decoration: none;
	}

	a:hover {
		color: #ffffff;
	}

	@media screen and (max-width: 991px) {
		br {
			display: none;
		}
	}


	@media screen and (max-width: 767px) {
		&__visual {
			display: block;
		}

		#footer__submit {
			max-width: none;
		}
	}

	@media screen and (max-width: 575px) {}
}