.header {
	&__welcome-container {
		img {
			object-fit: fill;
			height: 188px;
		}

		a {
			max-width: 295px;
			width: 100%;
			
		}
	}
	@media screen and (max-width: 767px) {
		&__welcome-container {
			img {
				object-fit: cover;
				height: 100%;
			}
		}
	}
}