.header {
	.header__welcome {
		background-color: #292E36;
		background-image: url(src/images/header_brand.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;

		//height: 100%;
		//max-height: 288px;
	}
}