#body #popular__link-full {
	color: #E1B168;
}

#body #popular__link-full:hover {
	color: #292E36;
}

@media screen and (min-width:992px) {
	#body #popular__link-full {
		max-width: 255px;
	}
}

.popular {
	&__dish {
		max-width: 315px !important;
		width: 100%;
	}
}