@import "tools/_nulling.scss";
@import "tools/_variables.scss";
@import "tools/_buttons.scss";
@import "tools/_navbar.scss";
@import "tools/_bootstrap_change.scss";

@import "sections/header.scss";
@import "sections/footer.scss";

html,
body {
	scroll-behavior: smooth;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	margin: auto;
	overflow-x: hidden;
}

main {
	margin: 0px auto 0px auto;
}

.container {
	width: auto;
	max-width: $content_width;
	padding: 0 $content_padding;
}