@import "tools/_nulling.scss";
@import "tools/_variables.scss";
@import "tools/_buttons.scss";
@import "tools/_navbar.scss";
@import "tools/_bootstrap_change.scss";
@import "tools/_modal.scss";
@import "tools/_carousel.scss";

@import "sections/header.scss";
@import "sections/footer.scss";
@import "sections/welcome.scss";
@import "sections/about.scss";
@import "sections/menu.scss";
@import "sections/testimonial.scss";
@import "sections/interior.scss";
@import "sections/popular.scss";

html,
body {
	scroll-behavior: smooth;
}
body {
	font-family: 'Josefin Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	margin: auto;
	overflow-x: hidden !important;
}
main {}