#body {
	.btn {
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 2;

		font-weight: 400;
		font-size: 22px;
		line-height: 33px;
		letter-spacing: 0.44px;

		height: 74px;

		color: #ffffff;
		border-color: #E1B168;
		border-radius: 0;

		box-shadow: inset 0 0 0 0 #E1B168;
		transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
	}

	.btn:hover {
		color: #292E36;
		box-shadow: inset 100vw 0 0 0 #E1B168;
	}
}