#body {
	font-family: 'Josefin Sans', 'Cormorant Infant', sans-serif;
	font-style: normal;
	font-weight: 400;

	a,
	p {
		font-family: 'Josefin Sans';
		font-size: 19px;
		line-height: 30px;
		letter-spacing: 0.2px;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'Cormorant Infant';
		letter-spacing: 0.2px;
	}

	h1 {
		font-size: 100px;
		line-height: 110px;
	}
	@media screen and (max-width: 575px) {
		h1 {
			font-size: 50px;
			line-height: 55px;
		}
	}

	h2 {
		font-size: 15px;
		line-height: 22px;
		letter-spacing: 3px;
	}

	h3 {
		font-size: 40px;
		line-height: 56px;
		text-transform: capitalize;
	}

	h4 {
		font-size: 36px;
		line-height: 50px;
	}

	h5 {
		font-size: 30px;
		line-height: 39px;
	}

	h6 {
		font-size: 30px;
		line-height: 42px;
	}

	.btn {
		font-size: 22px;
		line-height: 33px;
		letter-spacing: 0.2px;
		font-family: 'Josefin Sans';
	}

	.text-gold {
		color: #e1b168;
	}

	.text-rewiev {
		font-family: 'Cormorant Infant';
		font-size: 24px;
		line-height: 38px;
		letter-spacing: 0.25px;
	}

	.text-offer {
		font-family: 'Cormorant Infant';
		font-size: 25px;
		line-height: 35px;
	}

	.about,
	.menu,
	.offer,
	.popular,
	.blog {
		color: #555555;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: #292E36;
		}
	}
}